<div class="container" style="margin: 30px;">
	<div class="panel panel-primary">
		<div class="panel-heading"> <h4>Editing User Registration</h4></div>
			<div class="panel-body">
				<%= render 'form', user_registration: @user_registration %>
			</div>
			<div>
				<%= link_to 'Show', @user_registration , class: "btn btn-primary" %> 
				<%= link_to 'Back', user_registrations_path , class: "btn btn-primary" %>
			</div>
		</div>
	</div>
</div>